<nav class="navbar bg-dark">
  <div class="container-fluid">

      <a class="navbar-brand nav-link d-flex align-items-center px-2" href="/">
        <img src="assets/logo.png" class="d-inline-block align-top logo-size"
        alt="El emblema de Warp Zone Wonders">
        <h3 class="header-text text-light m-0">Warp Zone Wonders</h3>
      </a>

      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end bg-primary text-light" tabindex="-1" id="offcanvasNavbar" aria-label="Menú lateral">

          <div class="row">
              <div class="offcanvas-body p-2 px-4 col-11">
                  <div class="d-flex flex-row mt-3">
                    <div class="flex-grow-1">
                      <img class="rounded-circle vh10" src="../../../assets/defaultUser.jpg">
                    </div>

                    <button type="button" class="btn-close bg-light m-2 p-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
              </div>

          </div>

          <div class="p-3">
            Nombre de usuario largo
          </div>

          <div class="row">

            <ul class="navbar-nav justify-content-end flex-grow-1 px-5 lista">
              <li class="nav-item">
                  <h3><a class="nav-link text-light" href="catalogoBootstrap.html">Catalogo</a></h3>
              </li>
              <li class="nav-item">
                  <h3><a class="nav-link text-light active" href="registro.html">Registro</a></h3>
              </li>
              <li class="nav-item">
                  <h3><a class="nav-link text-light" href="graficaBootstrap.html">Estadísticas</a></h3>
              </li>
            </ul>
          </div>

      </div>

  </div>

</nav>
